*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix{
  margin: 0 auto;
  display: block;
  clear: both;
}

//VARIABLES//
$blue2Btn : rgb(2,179,255);

//VARIABLES///

main{

}

nav{
  width: 100%;
  position: fixed;
  top: -55px;
  z-index: 1;
  background: rgb(50,110,136);
  padding: 10px 0px 10px 15px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 3px gray;
  transition: top 200ms ease;
}

.search_form{

  .lang_option_area{
    // background-color: red;
    // overflow: hidden;
  }

  //SEARCH BAR//
  .search_field{
    width: 1000px;
    height: 30px;
    padding: 10px 15px;
    margin: 20px 0 5px 0;
    font-size: 0.9em;
    color: gray;
  }

  .submit_btn{
    height: 30px;
    padding: 6px 15px 6px;
    color: white;
    font-size: 1em;
    background: $blue2Btn;
    cursor: pointer;
  }

  //ALL LANG OPTIONS//
  .lang_option_label{
    display: inline-block;
    float: left;
    width: auto;
    padding: 10px;
    margin: 0 10px 0 0;
    background-color: darken($blue2Btn, 20);
    border: 1px solid $blue2Btn;
    border-radius: 3px;
    color: white;
    text-align: center;

    transition: all 200ms ease;
  }

  //ALL LANG OPTIONS WHEN THEIR CHECKED//
  .lang_option_input:checked+label{
    color: white;
    background:  $blue2Btn;
    border: 1px solid transparent;
  }

  //HIDE THE CHECKBOX//
  .lang_option_input{
    display: none;
  }


}// END OF .search_form

//NAVBAR OPTIONS//

  //HIDE AND SHOW THE NAVIGATION BAR//
  .show_hide_nav_label{
    position: fixed;
    z-index: 2;
    top: 18px;
    right: 100px;
    padding: 5px 10px;
    border-radius: 4px;
    background: #02b3ff;
    color: white;
    font-size: 0.95em;
    cursor: pointer;
    transition: all 200ms ease;

    &::after{
      content: "show";
    }
  }
  .show_hide_nav_btn{
    display: none;
  }
  .show_hide_nav_btn:checked~nav{
    top: 0;
  }
  .show_hide_nav_btn:checked+label{
    top: 10px;

    &::after{
      content: "hide";
      padding: 0px 3px;
      font-size: 0.95em;
    }
  }//HIDE AND SHOW THE NAVIGATION BAR//

  //BUTTONS: select all, unselect all, new syntax//
  #new_syntax_btn,
  #select_all_btn,
  #unselect_all_btn{
    z-index: 3;
    position: absolute;
    color: white;
    cursor: pointer;
  }

  #new_syntax_btn{
    right: 13px;
    top: 12px;
    padding: 8px 15px;
    border-radius: 7px;
    border: 2px solid white;
    font-size: 1.1em;
    background: #145B79;
    transition: top 400ms ease;

    &:hover,:active{
      background: $blue2Btn;
    }
  }
  .show_hide_nav_btn:checked~#new_syntax_btn{
    top: 45px;
  }

  #select_all_btn,
  #unselect_all_btn{
    display: none;
    right: 90px;
    padding: 4px 10px;
    box-shadow: 0px 2px 7px -1px transparent inset;
    border-radius: 2px;
    font-size: 0.9em;
    color: white;

    &:hover, :active{
      // font-size: 1em;
      // font-weight: bold;
      // box-shadow: 0px 2px 7px -1px white inset;
      box-shadow: 0px 2px 7px -1px $blue2Btn inset;
      padding: 4px 10px;
    }
  }
  #select_all_btn{
    top:50px;
  }

  #unselect_all_btn{
    top: 80px;
  }

  .show_hide_nav_btn:checked~#select_all_btn,
  .show_hide_nav_btn:checked~#unselect_all_btn{
    display: inline-block;
  }//BUTTONS: select all, unselect all, new syntax//

//NAVBAR OPTIONS//

section{
  padding-top: 90px;
}


//RESULTS FROM A SEARCH//
.results_area{
  color: white;
}

.results_table{
  border-collapse: collapse;
  margin-left: 20px;

    tr{

    }

    td{

    }

    thead{

      tr{
        color: darkcyan;
      }

      th{
        // border-right: 1px solid lightgray;
        font-size: 0.9em;
        padding: 5px;

      }
    }

    tbody{
      font-size: 0.85em;

      tr:nth-child(odd){
        background: rgba(0, 139, 139, 0.08);
      }

      tr{
        color: darkcyan;
        cursor: pointer;
        transition: all 200ms ease;

        &:hover,:active,:focus{
          color: rgba(197,234,234,1);
          background: rgba(7,54,74,1);
        }

      }

      td{
        padding: 10px 15px;
        // border: 1px solid lightgray;
      }
    }
}//END OF RESULTS TABLE//


//RESULTS FROM A SEARCH//
