* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none; }

.clearfix {
  margin: 0 auto;
  display: block;
  clear: both; }

.close_btn {
  position: relative;
  float: right;
  top: 25px;
  right: 35px;
  font-size: 2.4em;
  color: white;
  cursor: pointer; }
  .close_btn:hover, .close_btn :active {
    font-size: 2.5em; }

.my_modal {
  width: 500px;
  height: 300px;
  box-shadow: 1px 1px 2px 2px gray;
  background: white;
  color: red; }

#overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 43, 43, 0.84); }

nav {
  width: 100%;
  position: fixed;
  top: -55px;
  z-index: 1;
  background: white;
  padding: 10px 0px 10px 15px;
  overflow: hidden;
  box-shadow: 0px 1px 13px 2px gray;
  transition: top 200ms ease; }

.search_form .search_field {
  width: 1000px;
  height: 30px;
  padding: 10px 15px;
  margin: 20px 0 5px 0;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 0.9em;
  color: gray; }
  .search_form .search_field:focus {
    border: 1px solid #03afb3; }
.search_form .submit_btn {
  height: 30px;
  background: #03afb3;
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  font-size: 1em;
  cursor: pointer; }
.search_form .lang_option_label {
  display: inline-block;
  float: left;
  width: auto;
  padding: 10px;
  margin: 0 10px 0 0;
  background: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  text-align: center;
  color: #03afb3;
  cursor: pointer;
  transition: all 200ms ease; }
  .search_form .lang_option_label:hover, .search_form .lang_option_label :active {
    border: 1px solid #03afb3;
    color: #014d4f; }
.search_form .lang_option_input:checked + label {
  border: 1px solid #014d4f;
  background: #014d4f;
  color: white; }
.search_form .lang_option_input {
  display: none; }

.show_hide_nav_label {
  position: fixed;
  z-index: 2;
  top: 18px;
  right: 100px;
  padding: 5px 10px;
  border-radius: 4px;
  background: #03afb3;
  color: white;
  font-size: 0.95em;
  cursor: pointer;
  transition: all 200ms ease; }
  .show_hide_nav_label::after {
    content: "show"; }

.show_hide_nav_btn {
  display: none; }

.show_hide_nav_btn:checked ~ nav {
  top: 0; }

.show_hide_nav_btn:checked + label {
  top: 10px;
  right: 90px; }
  .show_hide_nav_btn:checked + label::after {
    content: "hide";
    padding: 0px 3px;
    font-size: 0.95em; }

#new_syntax_btn,
#select_all_btn,
#unselect_all_btn {
  z-index: 3;
  position: absolute;
  color: white;
  cursor: pointer; }

#new_syntax_btn {
  right: 13px;
  top: 8px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 0px gray;
  font-size: 1.3em;
  background: #03afb3;
  transition: top 400ms ease; }
  #new_syntax_btn:hover, #new_syntax_btn :active {
    background: #027e81; }

.show_hide_nav_btn:checked ~ #new_syntax_btn {
  top: 30px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  box-shadow: 1px 4px 2px 0px gray;
  font-size: 1.6em; }

#select_all_btn,
#unselect_all_btn {
  display: none;
  right: 90px;
  padding: 4px 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: 0.9em;
  color: gray; }
  #select_all_btn:hover, #select_all_btn :active,
  #unselect_all_btn:hover,
  #unselect_all_btn :active {
    border: 1px solid #03afb3;
    color: #03afb3; }

#select_all_btn {
  top: 50px; }

#unselect_all_btn {
  top: 80px; }

.show_hide_nav_btn:checked ~ #select_all_btn,
.show_hide_nav_btn:checked ~ #unselect_all_btn {
  display: inline-block; }

.my_alert {
  width: 40%;
  height: 35px;
  margin: 10px 0 0 0;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center; }

.my_alert.warning {
  color: #008c27;
  border: 1px solid #008c27; }

.my_alert.error {
  background: rgba(255, 0, 0, 0.7);
  color: #FFFFFF; }

section {
  padding-top: 90px; }

.results_area {
  color: white; }

.results_table {
  border-collapse: collapse;
  margin-left: 20px; }
  .results_table thead tr {
    color: darkcyan; }
  .results_table thead th {
    font-size: 0.9em;
    padding: 5px; }
  .results_table tbody {
    font-size: 0.85em; }
    .results_table tbody tr:nth-child(odd) {
      background: rgba(0, 139, 139, 0.08); }
    .results_table tbody tr {
      color: darkcyan;
      cursor: pointer;
      transition: all 200ms ease; }
      .results_table tbody tr:hover, .results_table tbody tr :active, .results_table tbody tr :focus {
        color: #c5eaea;
        background: #07364a; }
    .results_table tbody td {
      padding: 10px 15px; }

/*# sourceMappingURL=syntaxes.css.map */
