* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none; }

html, body {
  height: 100%; }

.center_block {
  margin: 0 auto; }

.hide_over {
  overflow: hidden; }

.clearfix {
  clear: both; }

#viewport_test {
  width: calc(1px + 1px); }

.pre_container {
  height: 100%; }

main {
  height: 100%; }
  main header {
    position: relative;
    height: 60px;
    background: green; }
    main header .menu_btn {
      background: yellow;
      height: 100%;
      width: 50%;
      float: right; }
    main header nav {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 1;
      width: 90%;
      background: red;
      color: white; }
      main header nav .menu_options {
        background: orange;
        width: 100%;
        text-align: center; }
        main header nav .menu_options .list_project a {
          display: inline-block;
          width: 100%;
          height: 60px;
          padding: 10px;
          text-decoration: none;
          cursor: pointer;
          line-height: 3em;
          background: pink; }

section {
  background: orange;
  height: calc(100vh - 55px);
  width: 100%; }
  section .my_projects {
    background: lightgreen;
    height: auto;
    width: 100%; }
    section .my_projects .project {
      background: tomato;
      position: relative;
      display: inline-block;
      width: 50%;
      height: 150px;
      float: left;
      text-align: center;
      background-repeat: no-repeat;
      background-size: 85px 80px;
      background-position: 50% 30%; }
      section .my_projects .project:nth-child(1) {
        background-color: #00e5ff;
        background-image: url(../img/fantasy-game-157x168.png); }
      section .my_projects .project:nth-child(2) {
        background-color: deeppink;
        background-image: url(../img/fantasy-game-157x168.png); }
      section .my_projects .project:nth-child(3) {
        background-color: pink;
        background-image: url(../img/fantasy-game-157x168.png); }
      section .my_projects .project:nth-child(4) {
        background-image: url(../img/fantasy-game-157x168.png);
        background-color: gold; }
      section .my_projects .project:nth-child(5) {
        background-color: darkblue;
        background-image: url(../img/fantasy-game-157x168.png); }
      section .my_projects .project:nth-child(6) {
        background-color: #db2400;
        background-image: url(../img/fantasy-game-157x168.png); }
      section .my_projects .project span {
        position: absolute;
        display: inline-block;
        bottom: 10px;
        left: 0;
        font-size: 1.1em;
        color: white;
        width: 100%; }

@media ONLY screen and (min-width: 501px) {
  main header .menu_btn {
    width: 210px; }
  main header nav {
    width: 360px; }

  section {
    width: 500px; }
    section .my_projects .project {
      height: 160px; } }
@media ONLY screen and (min-width: 601px) {
  main header .menu_btn {
    width: 190px; }
  main header nav {
    width: 340px; }

  section {
    width: 490px; } }
@media ONLY screen and (min-width: 701px) {
  main header .menu_btn {
    width: 190px; }
  main header nav {
    width: 340px; }

  section {
    width: 650px; }
    section .my_projects .project {
      width: 33.33%;
      height: 170px; } }
@media ONLY screen and (min-width: 801px) {
  main header .menu_btn {
    width: 150px; }
  main header nav {
    width: 300px; }

  section {
    width: 750px;
    padding-top: 50px; }
    section .my_projects .project {
      width: 25%;
      height: 180px; } }
@media ONLY screen and (min-width: 901px) {
  main header .menu_btn {
    width: 100px; }
  main header nav {
    width: 270px; }

  section {
    width: 850px;
    padding-top: 150px; }
    section .my_projects .project {
      width: 20%;
      height: 150px; } }
@media ONLY screen and (min-width: 1025px) {
  main header .menu_btn {
    display: none; }
  main header nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 100%; }
    main header nav .menu_options .list_project {
      display: inline-block; }
      main header nav .menu_options .list_project a {
        background: blue;
        color: red; } }

/*# sourceMappingURL=my-page-frame.css.map */
