// VARIABLES //
$viewportHeight   : 100vh;
$viewportWidth    : 100vw;
$navbarHeight     : 55px;
$navbarHeightLg   : 70px; //FOR +1024px DISPLAYS
// VARIABLES //


//GLOBAL STYLES//
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
}

html,body{
  height: 100%;
}
//GLOBAL STYLES//

//HELPER CLASSES//
.center_block{
  margin: 0 auto;
}
.hide_over{
  overflow: hidden;
}
.clearfix{
  clear: both;
}
//HELPER CLASSES//

#viewport_test{
  width: calc(1px + 1px);
}

.pre_container{
  height: 100%;
}

main{
  height: 100%;

  header{
    position: relative;
    height: 60px;
    background: green;

    .menu_btn{
      background: yellow;
      height: 100%;
      width: 50%;
      float: right;
    }

    nav{
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 1;
      width: 90%;
      background: red;
      color: white;

      .menu_options{
        background: orange;
        // padding:15px;
        width: 100%;
        text-align: center;

        .list_project{

          .project_icon{

          }

          a{
            display: inline-block;
            width: 100%;
            height: 60px;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            line-height: 3em;
            background: pink;
          }
        }
      }
    }//END OF <nav>//
  }//END OF <header>//
}//END OF <main>//

section{
  background: orange;
  height: calc(100vh - #{$navbarHeight});
  width: 100%;

  .my_projects{
    background: lightgreen;
    height: auto;
    width: 100%;

    .project{
      background: tomato;
      position: relative;
      display: inline-block;
      // width: 162px;
      width: 50%;
      height: 150px;
      float: left;
      text-align: center;
      background-repeat: no-repeat;
      background-size: 85px 80px;
      background-position: 50% 30%;

      &:nth-child(1){
        background-color: rgb(0, 229, 255);
        background-image: url(../img/fantasy-game-157x168.png);
      }

      &:nth-child(2){
        background-color: deeppink;
        background-image: url(../img/fantasy-game-157x168.png);
      }

      &:nth-child(3){
        background-color: pink;
        background-image: url(../img/fantasy-game-157x168.png);
      }

      &:nth-child(4){
        background-image: url(../img/fantasy-game-157x168.png);
        background-color: gold;
      }

      &:nth-child(5){
        background-color: darkblue;
        background-image: url(../img/fantasy-game-157x168.png);
      }

      &:nth-child(6){
        background-color: rgb(219, 36, 0);
        background-image: url(../img/fantasy-game-157x168.png);

      }

      span{
        position: absolute;
        display: inline-block;
        bottom: 10px;
        left: 0;
        font-size: 1.1em;
        color: white;
        width: 100%;
      }
    }
  } //END OF .my_projects

} //END OF section

// DEVICES -->  WIDTH + 500px
@media ONLY screen AND(min-width:501px){
  main{
    // height: 100%;

    header{
      // height: 60px;
      // background: green;

      .menu_btn{
        // background: yellow;
        // height: 100%;
        width: 210px;
        // float: right;
      }

      nav{
        // float: right;
        // clear: right;
        width: 360px;
        // background: red;
        // color: white;

        .menu_options{
          // background: orange;
          // padding:15px;
          // width: 90%;
          // text-align: center;

          .list_project{
            // padding: 15px;
            // background: pink;

            .project_icon{

            }
          }
        }
      }//END OF <nav>//
    }//END OF <header>
  }//END OF <main>//

  section{
    // background: orange;
    // height: calc(100vh - #{$navbarHeight});
    width: 500px;

    .my_projects{
      // background: lightgreen;
      // height: auto;
      // width: 100%;

      .project{
        // background: tomato;
        // position: relative;
        // display: inline-block;
        // // width: 162px;
        // width: 50%;
        height: 160px;
        // float: left;
        // text-align: center;
        // background-repeat: no-repeat;
        // background-size: 85px 80px;
        // background-position: 50% 30%;

        &:nth-child(1){
          // background-color: rgb(0, 229, 255);
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(2){
          // background-color: deeppink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(3){
          // background-color: pink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(4){
          // background-image: url(../img/fantasy-game-157x168.png);
          // background-color: gold;
        }

        &:nth-child(5){
          // background-color: darkblue;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        span{
          // position: absolute;
          // display: inline-block;
          // bottom: 10px;
          // left: 0;
          // font-size: 1.1em;
          // color: white;
          // width: 100%;
        }
      }
    } //END OF .my_projects
  } //END OF <section>

}


// DEVICES -->  WIDTH + 600px
@media ONLY screen AND(min-width:601px){
  main{
    // height: 100%;

    header{
      // height: 60px;
      // background: green;

      .menu_btn{
        // background: yellow;
        // height: 100%;
        width: 190px;
        // float: right;
      }

      nav{
        // float: right;
        // clear: right;
        width: 340px;
        // background: red;
        // color: white;

        .menu_options{
          // background: orange;
          // padding:15px;
          // width: 90%;
          // text-align: center;

          .list_project{
            // padding: 15px;
            // background: pink;

            .project_icon{

            }
          }
        }
      }//END OF <nav>//
    }//END OF <header>
  }//END OF <main>//

  section{
    // background: orange;
    // height: calc(100vh - #{$navbarHeight});
    width: 490px;

    .my_projects{
      // background: lightgreen;
      // height: auto;
      // width: 100%;

      .project{
        // background: tomato;
        // position: relative;
        // display: inline-block;
        // // width: 162px;
        // width: 50%;
        // height: 150px;
        // float: left;
        // text-align: center;
        // background-repeat: no-repeat;
        // background-size: 85px 80px;
        // background-position: 50% 30%;

        &:nth-child(1){
          // background-color: rgb(0, 229, 255);
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(2){
          // background-color: deeppink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(3){
          // background-color: pink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(4){
          // background-image: url(../img/fantasy-game-157x168.png);
          // background-color: gold;
        }

        &:nth-child(5){
          // background-color: darkblue;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        span{
          // position: absolute;
          // display: inline-block;
          // bottom: 10px;
          // left: 0;
          // font-size: 1.1em;
          // color: white;
          // width: 100%;
        }
      }
    } //END OF .my_projects
  } //END OF <section>

}


// DEVICES -->  WIDTH + 700px
@media ONLY screen AND(min-width:701px){
  main{
    // height: 100%;

    header{
      // height: 60px;
      // background: green;

      .menu_btn{
        // background: yellow;
        // height: 100%;
        width: 190px;
        // float: right;
      }

      nav{
        // float: right;
        // clear: right;
        width: 340px;
        // background: red;
        // color: white;

        .menu_options{
          // background: orange;
          // padding:15px;
          // width: 90%;
          // text-align: center;

          .list_project{
            // padding: 15px;
            // background: pink;

            .project_icon{

            }
          }
        }
      }//END OF <nav>//
    }//END OF <header>
  }//END OF <main>//

  section{
    // background: orange;
    // height: calc(100vh - #{$navbarHeight});
    width: 650px;

    .my_projects{
      // background: lightgreen;
      // height: auto;
      // width: 100%;

      .project{
        // background: tomato;
        // position: relative;
        // display: inline-block;
        // // width: 162px;
        width: 33.33%;
        height: 170px;
        // float: left;
        // text-align: center;
        // background-repeat: no-repeat;
        // background-size: 85px 80px;
        // background-position: 50% 30%;

        &:nth-child(1){
          // background-color: rgb(0, 229, 255);
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(2){
          // background-color: deeppink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(3){
          // background-color: pink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(4){
          // background-image: url(../img/fantasy-game-157x168.png);
          // background-color: gold;
        }

        &:nth-child(5){
          // background-color: darkblue;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        span{
          // position: absolute;
          // display: inline-block;
          // bottom: 10px;
          // left: 0;
          // font-size: 1.1em;
          // color: white;
          // width: 100%;
        }
      }
    } //END OF .my_projects
  } //END OF <section>

}

// DEVICES -->  WIDTH + 800px
@media ONLY screen AND(min-width:801px){
  main{
    // height: 100%;

    header{
      // height: 60px;
      // background: green;

      .menu_btn{
        // background: yellow;
        // height: 100%;
        width: 150px;
        // float: right;
      }

      nav{
        // float: right;
        // clear: right;
        width: 300px;
        // background: red;
        // color: white;

        .menu_options{
          // background: orange;
          // padding:15px;
          // width: 90%;
          // text-align: center;

          .list_project{
            // padding: 15px;
            // background: pink;

            .project_icon{

            }
          }
        }
      }//END OF <nav>//
    }//END OF <header>
  }//END OF <main>//

  section{
    // background: orange;
    // height: calc(100vh - #{$navbarHeight});
    width: 750px;
    padding-top: 50px;

    .my_projects{
      // background: lightgreen;
      // height: auto;
      // width: 100%;

      .project{
        // background: tomato;
        // position: relative;
        // display: inline-block;
        // // width: 162px;
        width: 25%;
        height: 180px;
        // float: left;
        // text-align: center;
        // background-repeat: no-repeat;
        // background-size: 85px 80px;
        // background-position: 50% 30%;

        &:nth-child(1){
          // background-color: rgb(0, 229, 255);
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(2){
          // background-color: deeppink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(3){
          // background-color: pink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(4){
          // background-image: url(../img/fantasy-game-157x168.png);
          // background-color: gold;
        }

        &:nth-child(5){
          // background-color: darkblue;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        span{
          // position: absolute;
          // display: inline-block;
          // bottom: 10px;
          // left: 0;
          // font-size: 1.1em;
          // color: white;
          // width: 100%;
        }
      }
    } //END OF .my_projects
  } //END OF <section>
}

// DEVICES -->  WIDTH + 900px
@media ONLY screen AND(min-width:901px){
  main{
    // height: 100%;

    header{
      // height: 60px;
      // background: green;

      .menu_btn{
        // background: yellow;
        // height: 100%;
        width: 100px;
        // float: right;
      }

      nav{
        // float: right;
        // clear: right;
        width: 270px;
        // background: red;
        // color: white;

        .menu_options{
          // background: orange;
          // padding:15px;
          // width: 90%;
          // text-align: center;

          .list_project{
            // padding: 15px;
            // background: pink;

            .project_icon{

            }
          }
        }
      }//END OF <nav>//
    }//END OF <header>
  }//END OF <main>//

  section{
    // background: orange;
    // height: calc(100vh - #{$navbarHeight});
    width: 850px;
    padding-top: 150px;

    .my_projects{
      // background: lightgreen;
      // height: auto;
      // width: 100%;

      .project{
        // background: tomato;
        // position: relative;
        // display: inline-block;
        // // width: 162px;
        width: 20%;
        height: 150px;
        // float: left;
        // text-align: center;
        // background-repeat: no-repeat;
        // background-size: 85px 80px;
        // background-position: 50% 30%;

        &:nth-child(1){
          // background-color: rgb(0, 229, 255);
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(2){
          // background-color: deeppink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(3){
          // background-color: pink;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        &:nth-child(4){
          // background-image: url(../img/fantasy-game-157x168.png);
          // background-color: gold;
        }

        &:nth-child(5){
          // background-color: darkblue;
          // background-image: url(../img/fantasy-game-157x168.png);
        }

        span{
          // position: absolute;
          // display: inline-block;
          // bottom: 10px;
          // left: 0;
          // font-size: 1.1em;
          // color: white;
          // width: 100%;
        }
      }
    } //END OF .my_projects
  } //END OF <section>
}

// DEVICES -->  WIDTH + 1024px
@media ONLY screen AND(min-width:1025px){
  main{
    // height: 100%;

    header{
      // height: 60px;
      // background: green;

      .menu_btn{
        // background: yellow;
        // height: 100%;
        // width: 30%;
        display: none;
      }

      nav{
        display: block;
        position: absolute;
        top: 0;
        right:0;
        height: 60px;
        width: 100%;
        // background: red;
        // color: white;

        .menu_options{
          // background: orange;
          // padding:15px;
          // width: 90%;
          // text-align: center;

          .list_project{
            display: inline-block;
            // padding: 15px;

            .project_icon{

            }

            a{
              background: blue;
              color: red;

            }
          }
        }
      }//END OF <nav>//
    }//END OF <header>
  }//END OF <main>//
}
