/* VARIABLES */
$viewportHeight : 100vh;
$viewportWidth  : 100vw;
/* VARIABLES */


/*GLOBAL STYLES*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
}

html,body{
  height: 100%;
}
/*GLOBAL STYLES*/
